html, body{
    font-size: 25px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #181D31;
    height: 100%;
    margin: 0;
}

@font-face{
    font-family: 'Sugar Snow';
    src: url(/static/sugar_snow/Sugar-Snow.otf);
}

/* IMAGE */

.principal{
    display: flex;
    height: 100%;
}

.background-image{
    width: 50%;
    overflow: hidden;
    position: relative;
}

.background-image img{
    position: relative;
    height: 100%;
    z-index: -1;
}

/* CARDS */

.card-container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 12%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-container .shop-name{
    font-family: 'Sugar Snow';
    font-size: 60px;
    color: #FFFFFF;
}

.background-image #credit{
    position: absolute;
    width: 100%;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    bottom: 0;
}

