html, body{
    font-size: 25px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #181D31;
    height: 100%;
    margin: 0;
}

@font-face{
    font-family: 'Sugar Snow';
    src: url(/source/sugar_snow/Sugar-Snow.off);
}

/* IMAGE */

.principal{
    display: flex;
    height: 100%;
}

.background-image{
    width: 40%;
    overflow: hidden;
    position: relative;
}

.background-image img{
    position: absolute;
    height: 100%;
}